/* Colaboradores */
#team {
  position: relative;
  margin-bottom: 2rem;
}

#team h2 {
  font-size: 3rem;
  text-align: center;
  max-width: 62.5rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

#team h2 span {
  color: var(--main-color);
}

#team .square {
  background-color: var(--tertiary-color);
  width: 6.25rem;
  height: 6.25rem;
  left: 50%;
  margin-left: -3.125rem;
  top: -1.5625rem;
}

.employees {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
}

.employee-name {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  margin: .5rem;
}